{% include '_header.twig' %}
    <div class="wrapper">
      <div class="maincontent">
        {% include 'admin_sections.twig' %}
      </div>
    </div>
    <style>
        #adminka-bg {
            background-color: white;
            opacity:.8;
            min-height:300px;
            padding:10px;
            display: block;
        }
    </style>
{% include '_footer.twig' %}
