{% include '_header.twig' %}
    <div class="wrapper">
      <div class="maincontent">
        {% include 'index_sections.twig' %}
      </div>
    </div>
    {% include 'index_other.twig' %}
{% include '_footer.twig' %}
