<section class="section hero">
    <div class="container">
        <header class="header">
            <div class="header__logo">
                <a class="logo" href="/"><img class="logo__icon" src="./img/icons/logo.svg"></a>
            </div>
            <div class="header__menu">
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item"><a class="nav__link" href="/index.php#link-about">о нас</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="/index.php#link-burgers">бургеры</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="/index.php#link-team">команда</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="/index.php#link-menu">меню</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="/index.php#link-reviews">отзывы</a>
                        </li>
                        <li class="nav__item"><a class="nav__link" href="/index.php#link-map">контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header__links">
                <a class="order-link btn" href="/index.php#link-lets-order">Заказать</a>
                <a class="hamburger-menu-link" href=""><div class="hamburger-menu-link__bars"></div></a>
            </div>
        </header>
        <div class="hero__container">
            <div class="hero__content">
                <div class="hero__left"><img class="hero__img" src="./img/content/burger.png" alt=""></div>
                <div class="hero__right">
                    <div class="section__title" style="color:#00C832">Заказ принят</div>
                    <div class="hero__desc">Мы доставим его в течении часа</div>
                    {{ error }}
                </div>
            </div>
        </div>
    </div>
</section>